.header {
    background-color: #f5f5f5;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav {
    display: flex;
    gap: 10px;
    padding: 10px;

    &__items {
        text-decoration: none;
        color: #333;
        transition: color 0.3s ease;

        &:hover {
            color: #007bff;
        }
    }
}

.container {
    height: 100%;
    display:flex;
    flex-direction: column;
}

.outlet {
    height: 100%;
    overflow: hidden;
}

.otlet_clone {
    height: 100%;
    overflow: auto;
}

.colors {
    color:#007bff;
    transition: color 0.3s ease;
    text-decoration: none;
}