.list {
    display: flex;
    gap:10px;
    margin-top: 100px;
}

.list__items {
    list-style: none;
    font-size: 2rem;
    cursor: pointer;
}

.active {   
    background: red;
    height:4px;
    width: 100%;
    margin: auto;
    transition: 0.3s width ease-in-out;
}

.disactive {
    width: 5px;
    margin: auto;
}