.nav {
    display: flex;
    flex-direction: column;
    background: #050505;

    &__links {
        color: rgb(121, 121, 121);
        text-decoration: none;
        width: 100%;
        font-size: 1.3rem;
        padding: 10px;

        &:hover {
            color: white;
        }
    }
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
}

.left_side {
    padding: 50px 15px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;

    p {
        line-height: 5rem;
        font-size: 2rem;
    }
}