.list {
    display: flex;
    gap: 20px;
    border-bottom: 3.2px solid silver;
    max-width: 280px;
    position: relative;
    margin-top: 100px;
}

.list__items {
    list-style: none;
    cursor: pointer;
    font-size:2rem;
}

.bottom_border {
    border: 0.1rem solid red;
    position: absolute;
    bottom: -3.2px;
    width: 80px;
    transition: 0.5s left ease-in-out;
}

.position_home {
    left: 0;
}

.position_service {
    left: 95px;
}

.position_news {
    left: 199px;
}