.nav {
    display: flex;
    flex-direction: column;
    background: rgb(223, 223, 223);
    width: 100%;
    border-radius: 2px;
    margin-top: 45px;

    &__links {
        color: rgb(1, 191, 255);
        text-decoration: none;
        width: 100%;
        font-size: 1.3rem;
        padding: 10px;
        transition: color 0.1s ease-in-out;

        &:hover {
            color: rgb(0, 66, 88);
        }
    }
}

.left_side {
    height: 100%;
    width: 200px;
}

.container {
    display: flex;
    height: 100%;
    padding: 15px 0 15px 15px;
}

.right_side {
    padding: 40px 0 0 15px;
    width: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        line-height: 5rem;
        font-size: 2rem;
    }
}